.header {
  flex: 1;
  background-color: var(--bg-color-header);
  padding: 10px;
  overflow-y: scroll;
  min-height: 200px;
  scrollbar-width: thin; /* Set the scrollbar width to thin */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* Customize the scrollbar colors */
}

.header::-webkit-scrollbar {
  width: 8px; 
}

.header::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); 
}

.header::-webkit-scrollbar-track {
  background: var(--scrollbar-track); 
}

.header p {
  font-size: 1em;
  line-height: 1.8em;
  color: var(--text-color-1);
  display: flex;
  justify-content: flex-end;
}


.header_expression {
    overflow-x:scroll;
    width: 100%;


}
.header_expression p{
    white-space: nowrap;
    width:fit-content; 
    min-width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
.header_history{
   overflow-x:scroll;
   width: 100%;
   
    
}
.header_history p{
   white-space: nowrap;
   width: fit-content;
   min-width: 100%;
}
.header_result{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}
